<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/index">
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/brand">
                <span class="menu-title">Brand</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/menu">
                <span class="menu-title">Menu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/slider">
                <span class="menu-title">Slider</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/product">
                <span class="menu-title">Product</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/order">
                <span class="menu-title">Order</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/post">
                <span class="menu-title">Post</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/role">
                <span class="menu-title">Role</span>
            </a>
        </li>
        <% if(user.role == "Quản Trị Viên"){ %>
        <li class="nav-item">
            <a class="nav-link" href="/admin/user">
                <span class="menu-title">User</span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>