<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider Form</h4>
            <form action="/admin/slider/create" class="forms-sample" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="d-block">Logo upload</label>
                    <input required type="file" name="logo-slider">
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <a href="/admin/slider" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>