<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Menu Form</h4>
            <form action="/admin/menu/create" class="forms-sample" method="POST">
                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input required minlength="5" name="title" id="title" type="text" class="form-control"
                        placeholder="Title">
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <h4>Sub Menu</h4>
                    <% brandList.forEach((el) => { %>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="subMenu[]" type="checkbox" class="form-check-input" value="<%= el.title %>">
                            <%= el.title %> <i class="input-helper"></i></label>
                    </div>
                    <% }); %>
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" name="isHide" class="form-check-input"> Is Hide <i
                            class="input-helper"></i></label>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <a href="/admin/menu" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>