<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Role Form</h4>
            <form action="/admin/role/create" class="forms-sample" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input required minlength="5" name="name" id="name" type="text" class="form-control"
                        placeholder="Title">
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <a href="/admin/role" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>