<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function getUrlParam(paramName) {
            var reParam = new RegExp('(?:[\?&]|&)' + paramName + '=([^&]+)', 'i');
            var match = window.location.search.match(reParam);

            return (match && match.length > 1) ? match[1] : null;
        }
        // Simulate user action of selecting a file to be returned to CKEditor.
        function returnFileUrl(fileurl) {

            var funcNum = getUrlParam('CKEditorFuncNum');
            var fileUrl = fileurl;
            window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
            window.close();
        }
    </script>
    <title>Upload IMG</title>
</head>

<body>

    <% if(image){ %>
    <% image.forEach(element => { %>
    <button onclick="returnFileUrl('/img/post/<%=element%>')"><img src="/img/post/<%=element%>" alt="" width="200px"
            height="200px"></button>
    <button><a href="/admin/delete?filename=<%=element%>">Delete IMG</a></button>
    <% }); %>
    <% } else{ %>
    <p>No image</p>
    <% } %>
    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
        Choose File:<input type="file" name="uploadfile">
        <button>Upload</button>
    </form>
</body>

</html>