<% if(brand){ %>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Brand Form</h4>
            <form action="/admin/brand/edit/<%= brand._id %> " class="forms-sample" method="POST">
                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input name="title" id="title" type="text" class="form-control" value="<%= brand.title %>">
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" <% if(brand.isHide == true){ %> <%= 'checked' %> <% } %> name="isHide"
                            class="form-check-input"> Is Hide <i class="input-helper"></i></label>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Edit</button>
                <a href="/admin/brand" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
<% } %>